<h1>Please Sign In</h1>

<%= form_tag("/sessions", method: "post") do %>
<%= label_tag :name %><br>
<%= text_field_tag :name %><br>
<%= label_tag :password %><br>
<%= password_field_tag :password %><br>
<%= submit_tag "Sign In" %>

<% end %>