<%= form_for @candy do |f| %>

<% if @candy.errors.any? %>
    <p><%= @error %></p>
<% end %>
  
<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :taste %><br>
<%= f.text_field :taste %><br>

<%= f.label :cost %><br>
<%= f.text_field :cost %><br>

<%= f.label :appetite %><br>
<%= f.text_field :appetite %><br>

<%= f.label :count %><br>
<%= f.text_field :count %><br>

 <%= f.submit %>
<% end %>