    <h1>Candies</h1>
    <h2>Sour Candies</h2>
    <% Candy.sour.each do |candy| %>
        <% if current_user.employee %>
          <li><%= link_to "#{candy.name} Details", candy_path(candy) %> <%= candy.count %> <%= " #{candy.name} available for purchase" %></li><br>
        <% else %>
          <li><%= link_to "Purchase #{candy.name}", candy_path(candy) %> <%= candy.count %> <%= " #{candy.name} available for purchase" %></li><br>
        <% end %>
    <% end %>


    <h2>Sweet Candies</h2>
    <% Candy.sweet.each do |candy| %>
        <% if current_user.employee %>
            <li><%= link_to "#{candy.name} Details", candy_path(candy) %> <%= candy.count %> <%= " #{candy.name} available for purchase" %></li><br>
        <% else %>
          <li><%= link_to "Purchase #{candy.name}", candy_path(candy) %> <%= candy.count %> <%= " #{candy.name} available for purchase" %></li><br>
        <% end %>
    <% end %>
   <br></br> 

<% if current_user.employee %>

  <%= link_to 'New Candy', new_candy_path %> 
    <% end %>
  <%= link_to 'Log Out', signout_path%>
  


