    <h1>Candies</h1>
    <h2>Sour Candies</h2>
    <% Candy.all.each do |candy| %>
    <% if candy.taste == "sour" %>
        <% if current_user.employee %>
          <li><%= link_to "#{candy.name} Details", candy_path(candy) %><%= candy.count %></li><br>
        <% else %>
          <%= link_to "Purchase #{candy.name}", candy_path(candy) %><br>
        <% end %>
    <% end %>
<% end %>

    <h2>Sweet Candies</h2>
    <% Candy.all.each do |candy| %>
    <% if candy.taste == "sweet" %>
        <% if current_user.employee %>
          <li><%= link_to "#{candy.name} Details", candy_path(candy) %></li><br>
        <% else %>
          <%= link_to "Purchase #{candy.name}", candy_path(candy) %><br>
        <% end %>
    <% end %>
<% end %>
<% if current_user.employee %>

  <%= link_to 'New Candy', new_candy_path %> 
  <%= link_to 'Log Out', signout_path%>
  

  <% end %>
