<H1><%= @candy.name %></p></H1>
   <p>Cost: <%= @candy.cost %></p><br>
    <p>Taste: <%= @candy.taste %> candy</p><br>
    <p>Appetite: <%= @candy.appetite %></p><br>
    
 <% if current_user.employee %>


<%= link_to 'Edit Employee', edit_candy_path(@candy) %>

<% else %>

<%= form_tag("/purchases", method: "post") do %>
 <%= hidden_field_tag :user_id, value = current_user.id %><br />
<%= hidden_field_tag :candy_id, value = @candy.id %><br />
<div class="actions"><%= submit_tag 'Purchase Candy', :class => 'btn btn-primary' %></div>

<% end %>
<% end %>
