<%= form_for @user do |f| %>

<% if @user.errors.any? %>
    <p><%= @error %></p>
<% end %>

<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :password %><br>
<%= f.text_field :password %><br>

<%= f.label :email %><br>
<%= f.text_field :email %><br>

<%= f.label :taste %>: sweet or sour?<br>
<%= f.text_field :taste %><br>

<%= f.label :cash %>: Please enter a dollar amount.<br>
<%= f.text_field :cash %><br>

<%= f.label :appetite %>: Please enter a number from 1-50.<br>
<%= f.text_field :appetite %><br>

<%= f.label :employee %>: True or False<br>
<%= f.text_field :employee %><br>


 <%= f.submit %>
<% end %>