<H1>Hi <%= @user.name %>! You have purchased the following candies:</H1>


<% @user.purchases.each do |purchase| %>

<h2><li><%= purchase.candy.name %></li></h2>
Cost of candy: <%= purchase.candy.cost %> dollars<br>
Candy flavor: <%= purchase.candy.taste %><br>
Your Appetite Rating at the time of purchase: <%= purchase.candy.appetite %><br>

<% end %>

<%= link_to 'Log Out', signout_path%>
<%= link_to 'See candies', candies_path %> 
<%= link_to 'User Profile', user_path(@user) %> 