<H2>Hi <%= @user.name %>! You have purchased the following candies:</H2>


<% @user.candies.uniq.each do |candy| %>

<h3><li><%= candy.name %></li></h3>
Cost of candy: <%= candy.cost %> dollars<br>
Candy flavor: <%= candy.taste %><br>
Candy appetite rating: <%= candy.appetite %><br>
<% end %>

<H2>The following users are full:</H2>   
   
 <% User.full.each do |user| %>
 <li><%= user.name %></li>
 <% end %>

<br></br>
<%= link_to 'Log Out', signout_path%>
<%= link_to 'See candies', candies_path %> 
<%= link_to 'User Profile', user_path(@user) %> 