<H2>Hi <%= @user.name %>! You have purchased the following candies:</H2>


<% @user.purchases.each do |purchase| %>

<h3><li><%= purchase.candy.name %></li></h3>
Cost of candy: <%= purchase.candy.cost %> dollars<br>
Candy flavor: <%= purchase.candy.taste %><br>
Candy appetite rating: <%= purchase.candy.appetite %><br>

<% end %>
<br></br>
<%= link_to 'Log Out', signout_path%>
<%= link_to 'See candies', candies_path %> 
<%= link_to 'User Profile', user_path(@user) %> 