<H2>Purchase Reciept:</H2>



<%= form_tag("/purchases", method: "post") do %>
<%= hidden_field_tag :user_id, value = current_user.id %><br>
<%= hidden_field_tag :candy_id, value = @purchase.candy_id %>
<h3><%= @purchase.candy.name %></h3>
Cost of candy: <%= @purchase.candy.cost %> dollars<br>
Candy flavor: <%= @purchase.candy.taste %><br>
Candy appetite rating: <%= @purchase.candy.appetite %><br>
<% end %>


<br></br>
<%= link_to 'Log Out', signout_path%>
<%= link_to 'See candies', candies_path %> 
<%= link_to 'User Profile', user_path(@user) %> 